*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    border: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
	/*A high perspective to give the UL an isometric look*/
	perspective: 3000;
}

#header{
    height: 10vh;
    text-align: right;
    color: #ffffff;
    font-weight: 600;
}
#header a{
    display: inline-block;
    padding-right: 50px;
    padding-top: 30px;
    font-size: 1.2em;
    text-decoration: none;
}


#title{
    color: #ffffff;
    font-size: 8em;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    padding-left: 5vw;
    padding-top: 2vw;
    position: absolute;
    left: 0;
}

#socialmedia{
    position: absolute;
    right : 0;
    top: 30vh;
    height : 200px;
    width: 50px;
    background-color: #fff;
    border-radius: 20px 0 0 20px;
    text-align: center;
    padding-top: 10px;

}
#top-artist{
    opacity: 0;
    font-size: 1.2em;
    font-weight: 600;
    position: absolute;
    right : 60px;
    top: calc(30vh + 140px);
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    padding: 15px;
}

#socialmedia img{
    padding-bottom: 10px;
}

a{
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
}

html.sr .load-hidden {
    visibility: hidden;
}

#background-vis{
    padding-bottom: 50px;
}

.center-cropped {
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  /* new stuff */

h1 {
	color: white;
	width: 500px;
	padding: 50px;
}

.box:nth-child(even) .grid {
	/*3D Transform*/
    transform: rotateX(60deg) rotateZ(-50deg) translate(500px,-800px);
    
	/*Preserve 3D style for children*/
	transform-style: preserve-3d;
}

.box:nth-child(odd) .grid {
	/*3D Transform*/
    transform: rotateX(60deg) rotateZ(50deg) translate(500px,-800px);
    
	/*Preserve 3D style for children*/
	transform-style: preserve-3d;
}

.grid li {
    background-position: center center;
	height: 800px; width: 1200px;
    display: inline-block; 
    margin: 20px;
	list-style-type: none;
	/*Hide the lighting gradient from the front face*/
	background-size: 0, cover;
	/*Preserve 3D style for children(pseudo elements)*/
	transform-style: preserve-3d;
}
/*Left and Bottom Sides*/
.grid li:before, .grid li:after {
	content: '';
	position: absolute;
	/*100% height and width*/
	top: 0; left: 0; right: 0; bottom: 0;
	background: inherit;
	background-size: cover;
}
/*Left Side*/
.grid li:before {
	transform-origin: left center;
	transform: rotateY(90deg);
	/*Reducing the width of the left side for a flat feel*/
	width: 20px;
}
/*Bottom Side*/
.grid li:after {
	transform-origin: bottom center;
	transform: rotateX(90deg);
	/*Reducing the height*/
	height: 20px; top: auto; bottom: 0;
	/*Background fix - start the background from the bottom*/
	background-position: bottom center;
}
/*Shadow time - sadly all pseudo elements are used so we will have to add an HTML element in each LI*/
.s {
	position: absolute;
	/*30px smaller from each side*/
	top: 30px; left: 30px; right: 30px; bottom: 30px;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
	/*Pushing down the shadow to give an elevated feel*/
	transform: translateZ(-75px);
}


.box {
    overflow: hidden;
    height: 400px;
    position: relative;
    
}

h3 {
    font-weight: 600;
    color: #000;
}

h3.top{
    color: #fff !important;
    mix-blend-mode: difference;
    /* -webkit-text-stroke: 1px #fff; */

}

.box:nth-child(even) h3 {
    position: absolute;
    right: 5%;
    padding-left: 30%;
    top: 10%;
    font-size: 100px;
}

.box:nth-child(even) .links {
    position: absolute;
    right: 5%;
    padding-left: 30%;
    bottom: 10%;
}

.links a {
    position: relative;
    display: inline;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    padding-right: 50px;

}

.box:nth-child(odd) .links {
    position: absolute;
    left: 5%;
    padding-right: 30%;
    bottom: 10%;
}

.box:nth-child(odd) h3 {
    position: absolute;
    left: 5%;
    top: 10%;
    padding-right: 30%;
    font-size: 100px;
}

/* desktop */
@media screen and (max-width: 1080px) {

    h3{
        font-size: 60px !important;
    }
}

/* mobile */
@media screen and (min-device-width: 400px) and (orientation: portrait) {

    #title{
        font-size: 6em;
    }
    h3{
        font-size: 60px !important;
    }

    .box:nth-child(even) .grid{
        transform: rotateX(60deg) rotateZ(-50deg) translate(-100px,-800px);

    }
    .box:nth-child(odd) .grid {
        /*3D Transform*/
        transform: rotateX(60deg) rotateZ(50deg) translate(-100px,-800px);
        
        /*Preserve 3D style for children*/
        transform-style: preserve-3d;
    }
}

